<h2
	style="color: black; padding-top: 100; padding-left: 550; font-size: 25; font-family: sans-serif;">Admin
	Login</h2>

<center>
{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}


	<div style="background: lightgrey; width: 400">
		<form action="/login/" method="post">
			{% csrf_token %}
			<table style="padding-top: 50px">

				<tr>
					<td>Username:</td>
					<td><input type="text" name="username" required></td>
				</tr>
				<tr>
					<td style="padding-top: 20">Password:</td>
					<td style="padding-top: 20"><input type="password" name="password" required></td>
				</tr>
				<tr>
					<td style="padding-top: 20; padding-left: 130;" colspan="2"><input
						type="submit" value="Submit"></td>
				</tr>

			</table>
		</form>
	</div>
</center>
