{% extends "site_layout.html" %}
{% block title %}{{customer_list.name}} details{% endblock %} 
{% block page_heading %} Details of {{customer_list.name}} {% endblock %}
{% block content %}
<button onclick="window.location='/subscriptions/new?cid={{customer_list.id}}'">Add To Group</button>
<p/>
{% if group_list %} 
<table style="border-color: red; margin-top: 137; margin-left: 50"
	border="1">
	<tr>
		<th>Group Names</th>
	</tr>
  {% for group in group_list %}
   <tr>
		<td>{{group.group.name}}</td>
	</tr>
	{% endfor %}
</table>
{% else %}
Not in any groups yet
{% endif %}
{% endblock %}
