{% extends "site_layout.html" %}
{% load myfilter %}
{% block title %}{{customer_details.name}} Transaction History{% endblock %} 
{% block page_heading %} {{customer_details.name}} Transaction History {% endblock %}
{% block content %}

Mobile: <b>{{customer_details.mobile_number}}</b>

<p/>

{% if journal %}
{{ 0|counter_reset:'credits' }}
{{ 0|counter_reset:'debits' }}
{{ 0|counter_reset:'balance' }}

<table border=1 cellspacing=0 cellpadding=5pt>
	<tr>
		<th>Date</th>
		<th>Group</th>
		<th>Subscription</th>
		<th>Credit</th>
		<th>Debit</th>
		<th>Balance</th>
	</tr>
	{% for j in journal %}
	<tr>
		<td> {{ j.txn.entry_date }} </td>
		<td> {{ j.subscription.group.name }} </td>
		<td> {{ j.subscription.id }} </td>
		<td align="right"> {{ j.credit }} </td> 
		<td align="right"> {{ j.debit }} </td> 
		{% if j.credit %}
		<td align="right">
			{{ j.credit|counter_subtract:'balance' }} 
			{{ j.credit|counter_add_only:'credits' }} 
		</td>
		{% else %}
		<td align="right">
			{{ j.debit|counter_add:'balance' }}
			{{ j.debit|counter_add_only:'debits' }}
		</td>
		{% endif %}
	</tr>
	{% endfor %}
	<tr>
		<td align="right" colspan=3><b> Total</b> </td>
		<td align="right"> <b>
			{{ 0 | counter_recall:'credits' }}</b>
		</td>
		<td align="right"><b>
			{{ 0 | counter_recall:'debits' }}</b>
		</td>
		<td>&nbsp;</td>
		
	</tr>
</table>
{% else %}
No activity found
{% endif %}

{% endblock %}
