{% extends "site_layout.html" %}
{% load myfilter %}
{% block title %}{{customer_details.name}} Transaction History{% endblock %} 
{% block page_heading %} {{customer_details.name}} Transaction History {% endblock %}
{% block content %}

Mobile: <b>{{customer_details.mobile_number}}</b>

<p/>

{% if journal %}
{{ 0|counter_reset:'ALL' }}

<table border=1 cellspacing=0 cellpadding=5pt>
	<tr>
		<th>Date</th>
		<th>Subscription</th>
		<th>Group</th>
		<th>Credit</th>
		<th>Debit</th>
		<th>Balance</th>
		<th>Overall Balance</th>
	</tr>
	{% for item in journal %}
	{% with j=item.item %}
	{% if item.type == 'journal_item' %}
	<tr>
		<td> &nbsp; </td>
		<td class="smalldetail"> {{ j.subscription.id }} </td>
		<td class="smalldetail"> {{ j.subscription.group.name }} </td>
		<td align="right" class="smalldetail"> {{ j.credit }} </td> 
		<td align="right" class="smalldetail"> {{ j.debit }} </td> 
		<td align="right" class="smalldetail"> {{ item.balance }} </td>
		<td>&nbsp;</td>
	</tr>
	{% else %}
	<tr>
		<td> {{ j.entry_date }} </td>
		<td colspan="2">  {{ item.comment }} </td>
		<td> {{item.credit}} </td>
		<td> {{item.debit}} </td>
		<td>&nbsp;</td>
		<td> {{item.balance}} </td>
	</tr>
	{% endif %}
	{% endwith %}
	{% endfor %}
</table>
{% else %}
No activity found
{% endif %}

{% endblock %}
