{% extends "site_layout.html" %}
{% block title %}Customer List{% endblock %}
{% block page_heading %}Customer List{% endblock %}

{% block content %}
<button onclick="window.location='/customers/new'">Add Customer</button>

{% if customer_list %} 
	<table border="1" cellspacing=0 cellpadding=5>
		<tr>
			<th>Name</th>
			<th>Mobile_number</th>
			<th>Actions</th>
		</tr>
		{% for customer in customer_list %}
		<tr>
			<td><a href="/customers/grouplist?id={{customer.id}}">{{ customer.name }}</a></td>
			<td>{{ customer.mobile_number }}</td>
			<td align="center">
				<a href="/customers/delete?id={{customer.id}}" onclick="return confirm('Are you sure?')"><img src='/static/remove.png' height=24pt width=24pt/></a>
				<a href='#'><img src='/static/edit.png' height=24pt width=24pt/></a>
				<a href='#'><img src='/static/write.png' height=24pt width=24pt/></a>
			</td>
		</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No Customers are available.</p>
{% endif %}		
{% endblock %}
