<div style="padding-top:40; margin-left: 162;font-size: 20;clear: both;">
	<a href="/customers/new">Add Customer</a>
</div>

{% if customer_list %} 


<ul style="font-size: 20;margin-right: 40; margin-top: 40">
<li><a href="/groups/list">Group list</a></li>
<li>Customer list</li>
<li style="float: right;"><a href="/logout">logout</a></li>
</ul>


	<table style="border-color: activecaption;margin-top: 50;margin-left: 162" border="1">
		<tr>
			<th>Name</th>
			<th>Mobile_number</th>
			<th>Action</th>
		</tr>
		{% for customer in customer_list %}
		<tr>
			<td><a href="/customers/grouplist?id={{customer.id}}">{{ customer.name }}</a></td>
			<td>{{ customer.mobile_number }}</td>
			<td align="center"><a href="/customers/delete?id={{group.id}}" onclick="return confirm('Are you sure?')">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
		{% else %}
		<p>No Customers are available.</p>
		{% endif %}
		
<style>
	ul {
		list-style: none;
	}
	
	ul li {
		display: inline;
		float: left;
		padding-right: 30px;
	}	
</style>		