{% extends "site_layout.html" %}
{% block title %}New Customer{% endblock %} 
{% block content %}
<h3>Customer Registration form</h3>
<form action="/customers/new" method="post">
	{% csrf_token %}
	<table border="0">
		<tr>
			<td align="right">User Name :</td>
			<td><input type="text" name="username" required placeholder="Enter username"></td>
		</tr>

		<tr>
			<td salign="right">Customer Name :</td>
			<td style="padding-top: 10"><input type="text" name="name"
				required placeholder="Enter customer Name"></td>
		</tr>
		<tr>
			<td align="right">Mobile Number :</td>
			<td style="padding-top: 10"><input type="text" name="mobile"
				required placeholder="Enter mobile number"></td>
		</tr>
		<tr>
			<td padding-left: 130;" colspan="2"><input type="submit"
				value="Register"></td>
		</tr>
	</table>
</form>
{% endblock %}
