{% extends "site_layout.html" %}
{% load myfilter %}
{% block title %}Activity for subscription {{subscription.id}}{% endblock %} 
{% block page_heading %}Activity for subscription #{{subscription.id}} {% endblock %} 
{% block content %}

<table border=1 cellspacing=0 cellpadding=5pt bordercolor=lightgray>
<tr>
	<td align="right">
User: </td><td> <b>{{subscription.member.name}}</b>
</td></tr>
<tr> <td align="right">
Group: </td><td> <b>{{subscription.group.name}}</b>
</tr>
</table>

<p/>
<button onclick="window.location='/customers/history?id={{subscription.member.id}}'">Transaction History</button>
<button onclick="window.location='/groups/members?id={{subscription.group.id}}'">Back to Group</button>
<button onclick="window.location='/customers/grouplist?id={{subscription.member.id}}'">Back to User</button>

{% if journal %}
{{ 0|counter_reset:'credits' }}
{{ 0|counter_reset:'debits' }}
{{ 0|counter_reset:'balance' }}
<table border=1 cellspacing=0 cellpadding=5pt>
	<tr>
		<th>Date</th>
		<th>Credit</th>
		<th>Debit</th>
		<th>Balance</th>
	</tr>
	{% for j in journal %}
	<tr>
		<td> {{ j.txn.entry_date }} </td>
		<td align="right"> {{ j.credit }} </td> 
		<td align="right"> {{ j.debit }} </td> 
		{% if j.credit %}
		<td align="right">
			{{ j.credit|counter_subtract:'balance' }} 
			{{ j.credit|counter_add_only:'credits' }} 
		</td>
		{% else %}
		<td align="right">
			{{ j.debit|counter_add:'balance' }}
			{{ j.debit|counter_add_only:'debits' }}
		</td>
		{% endif %}
	</tr>
	{% endfor %}
	<tr>
		<td align="right"><b> Total</b> </td>
		<td align="right"> <b>
			{{ 0 | counter_recall:'credits' }}</b>
		</td>
		<td align="right"><b>
			{{ 0 | counter_recall:'debits' }}</b>
		</td>
		<td>&nbsp;</td>
		
	</tr>
</table>
{% else %}
No activity found
{% endif %}
{% endblock %}
