{% extends "site_layout.html" %}
{% load myfilter %}
{% block title %}Group List{% endblock %}
{% block page_heading %}Group List{% endblock %}
{% block content %}
<p/>
<button onclick="window.location='/groups/new'">New Group</button>
{% if group_list %} 
 <table border="1" cellspacing=0 cellpadding=5 bordercolor=lightgray>
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Amount</th>
		<th>Commission</th>
		<th>Start Date</th>
		<th>Months</th>
		<th>Amount Due</th>
		<th>&nbsp;</th>
	</tr>
	{% for group in group_list %}
	<tr>
		<td>
		  <a href="/groups/delete?id={{group.id}}" onclick="return confirm('Are you Sure?')">
		    <img src='/static/remove.png' class='action_icon'/>
		  </a></td>
		<td><a href='/groups/members?id={{group.id}}'>{{ group.name }}</a></td>
		<td align="right">{{ group.amount }}</td>
		<td align="center">{{ group.commision }}%</td>
		<td>{{ group.start_date }}</td>
		<td align="center">{{ group.total_months }} ({{auctions_left|get_item:group.id}} left)</td>
		<td align="right">{{due_amounts|get_item:group.id}}</td>
		<td align="center"><a href='/groups/new?id={{group.id}}'>Edit</a></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No groups are present right now.</p>
{% endif %}
<!--
<table border="1">
<tr>
<th>UPCOMMING GROUPS</th>
<th>STARTING DATE</th>  
</tr>
</table>
-->
{% endblock %}
