{% extends "site_layout.html" %}
{% block title %}Group List{% endblock %}

{% block content %}

<button onclick="window.location='/groups/new'">New Group</button>
{% if group_list %} 
 <table style="border-color: red; margin-top: 137; margin-left: 50"
	border="1">
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Start_date</th>
		<th>Total_months</th>
		<!--<th>Remaing_months</th>
		<th>Total_due</th>  -->
		<th>Action</th>
	</tr>
	{% for group in group_list %}
	<tr>
		<td><a href='/groups/members?id={{group.id}}'>{{ group.name }}</a></td>
		<td>{{ group.amount }}</td>
		<td>{{ group.start_date }}</td>
		<td align="center">{{ group.total_months }}</td>
		<!-- 
		<td>{{ group.remaining_months }}</td>
		<td>{{ group.total_due}}</td> -->
		<td align="center"><a href="/groups/delete?id={{group.id}}" onclick="return confirm('Are you Sure?')">Delete</a></td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No groups are present right now.</p>
{% endif %}
<!--
<table border="1">
<tr>
<th>UPCOMMING GROUPS</th>
<th>STARTING DATE</th>  
</tr>
</table>
-->
{% endblock %}
