{% extends "site_layout.html" %}
{% block title %}Group: {{group_details.name}} {% endblock%}
{% block page_heading %}Group Details for {{group_details.name}}{% endblock%}
{% block content %}
<button onclick="window.location='/auctions/new.html?id={{group_details.id}}'">Enter Auction</button>
<table border="1" bordercolor=lightgray cellspacing=0 cellpadding=5>
	<tr>
		<td align=right>Name</td>
		<td>{{group_details.name}}</td>
	</tr>
	<tr>
		<td align=right>Months</td>
		<td>{{group_details.total_months}}</td>
	</tr>
	<tr>
		<td align=right>Start Date</td>
		<td>{{group_details.start_date}}</td>
	</tr>
</table>

<h3>Group Members</h3>
<button onclick="window.location='/subscriptions/new?gid={{group_details.id}}'">Add Member</button>
{% if member_list %}
<table border="1" cellpadding=5 cellspacing=0>
	<tr>
		<th>Member Name</th>
		<th>ID</th>
		<th>Auction Date</th>
		<th>Auction Amount</th>
		<th>Auction Month</th>
		<th>Amount Due</th>
		<th>Actions</th>
	</tr>
	{% for member in member_list %}
	<tr>
		<td><a href='/customers/history'>{{ member.member.name }}</td>
		<td>{{member.id}}</td>
		<td>{{member.auction_date|default_if_none:"-"}}</td>
		<td>{{member.auction_amount|default_if_none:"-"}}</td>
		<td>{{member.auction_number|default:"-"}}</td>
		<td>&nbsp;</td>
		<td>
			<a href='#'>Remove</a> |
			<a href='#'>Edit Auction</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<br />
No members enrolled in this group yet.
{% endif %}
{% endblock %}
