{% extends "site_layout.html" %}
{% load myfilter %}
{% block title %}Group: {{group_details.name}} {% endblock%}
{% block page_heading %}Group Details for {{group_details.name}}{% endblock%}
{% block content %}
<table border="1" bordercolor=lightgray cellspacing=0 cellpadding=5>
	<tr>
		<td class=label>Name</td>
		<td>{{group_details.name}}</td>
	</tr>
	<tr>
		<td class=label>Months</td>
		<td>{{group_details.total_months}} ({{remaining_months}} left)</td>
	</tr>
	<tr>
		<td class=label>Commission</td>
		<td>{{group_details.commision}}%</td>
	</tr>
	<tr>
		<td class=label>Start Date</td>
		<td>{{group_details.start_date}}</td>
	</tr>
	<tr>
		<td class=label>Due Amount</td>
		<td>{{total_due_amount}}</td>
	</tr>
	<tr>
		<td align='right' colspan=2><a href="/groups/new?id={{group_details.id}}">Edit</a></td>
	</tr>
</table>

<script>
function remove_subscription(id) {
	x = confirm('Are you sure you want to remove the subscription?')
	if (x) {
		window.location = '/groups/remove_subscription?return_to=group&id='+id
	}
	else {
		return false;
	}
}
</script>

<h3>Group Members</h3>
<button onclick="window.location='/customers/subscription?gid={{group_details.id}}'">Add Member</button>
{% if member_list %}
<button onclick="window.location='/groups/auction?id={{group_details.id}}'">Enter Auction</button>
<table border="1" cellpadding=5 cellspacing=0>
	<tr>
		<th>&nbsp;</th>
		<th>Member Name</th>
		<th>ID</th>
		<th>Auction Date</th>
		<th>Auction Amount</th>
		<th>Auction Month</th>
		<th>Amount Due</th>
		<th>Actions</th>
	</tr>
	{% for subscription in member_list %}
	<tr>
	    <td>
		{% if remaining_months == group_details.total_months %}
		  <a href='#' onclick="remove_subscription({{subscription.id}})">
		    <img src='/static/remove.png' class='action_icon'/>
		  </a>
		{% else %}
			<a href="/groups/change_subscription?id={{ subscription.id }}">
			   <img src='/static/edit.png' class='action_icon'/>
			</a>
		{% endif %}
		</td>
		<td>{{ subscription.member.name }}</td>
		<td><a href='/customers/group_activity?subscription_id={{subscription.id}}&return_to=group'>{{subscription.id}}</a></td>
		<td>{{subscription.auction_date|default_if_none:"-"}}</td>
		<td>{{subscription.auction_amount|default_if_none:"-"}}</td>
		<td>{{subscription.auction_number|default:"-"}}</td>
		<td>{{due_amounts|get_item:subscription.id}}</td>
		<td>
			<a href='#'>Edit Auction</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<br />
No members enrolled in this group yet.
{% endif %}
<p/>&nbsp;<p/>
{% endblock %}
