{% extends "site_layout.html" %}
{% block title %}New Group{% endblock %}

{% block content %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css"> 
 <script>
$(function() {
$( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
});
</script>
<h3>New group</h3>
	<form action="/groups/new" method="post">
		{% csrf_token %}
		<table border="0">
			<tr>
				<td align="right">Group Name :</td>
				<td><input type="text" name="groupname" required placeholder='Enter Group Name'></td>
			</tr>
			<tr>
				<td style="padding-top: 10" align="right">Amount :</td>
				<td style="padding-top: 10"><input type="text" name="amount" placeholder='Enter Amount'
					required></td>
			</tr>
			<tr>
				<td style="padding-top: 10" align="right">Start Date :</td>
				<td style="padding-top: 10"><input type="text" id="datepicker"  name="startdate"
					required  placeholder='Select Group Start Date'></td>
			</tr>
			<tr>
				<td style="padding-top: 10" align="right">Total Months :</td>
				<td style="padding-top: 10"><input type="text"
					name="totalmonths" required  placeholder='Number of Months'></td>
			</tr>
			<tr>
				<td style="padding-top: 20; padding-left: 130;" colspan="2"><input
					type="submit" value="Add Group"></td>
			</tr>
		</table>
	</form>
{% endblock %}