.heading {
   position: absolute;
   top: 1pt;
   left: 5pt;
   right: 5pt;
   height: 45pt;
   border-bottom: black solid thin;
   background-color: white;
   font-size: 16pt;
}
.content {
   top: 46pt;
   bottom: 12pt;
   left: 5pt;
   right: 5pt;
   position: absolute;
   overflow-y: auto;
   font-size: 14pt;
   border: lightblue solid medium;
   padding: 5pt;
}
.footer {
   font-size: 10pt;
   position: absolute;
   bottom: 0pt;
   left: 5pt;
   right: 5pt;
   text-align: center;
   background-color: lightblue;
   border-top: black solid thin;
}
.title {
	font-size: 18pt;
	text-align: center;
	width: 100%
}
.menu {
    border: 1px lightblue solid;
    padding-top: 1pt;
    padding-bottom: 1pt;
    padding-left: 10pt;
    padding-right: 10pt;
    background: lightgray;
    text-decoration: none;
}
.action_icon {
	width: 12pt;
	height: 12pt;
}
.label {
	color: gray;
	text-align: right;
}
button, submit {
	font-size: 12pt;
	background-color: lightblue;
}

span.warning {
	background-color: #ffcccc;
}

.payment-amount {
   font-size: 12pt;
}

.total-amount, .extraCredits {
   font-size: 12pt;
}

.action_icon:hover {
    cursor: pointer;
}

td.smalldetail {
    font-size: 12pt;
    font-style: italic;
}

tr.smalldetail:nth-child(even),  tr.smalldetail:nth-child(odd) {
    background-color: white;
    color: #333333;
}

tr.maintxn:nth-child(even),  tr.maintxn:nth-child(odd) {
    background-color: #25256e;
    color: white;
}

tr:nth-child(even) {
	background-color: #f0f0ff;
}

tr:nth-child(odd) {
	background-color: #ffffff;
}


.form-container {
    width: 100%;
    margin: auto;
}
.groups-form {
    width: 48%;
    float: left;
}
.loans-form {
   width: 48%;
    float: right;
}
