<div style="padding-top:100;margin-left: 40;font-size: 20;clear: both;">
	<a href="/subscriptions/newcustomer">Add Member</a>
{% if subscription_list %}

</div>
<table style="border-color: activecaption;" border="1">
	<tr>
    	<th>Group Name</th>
       	<th>Member Name</th>
    	<th>Comments</th>
	</tr>
	{% for subscription in subscription_list %}
	<tr>
		<td>{{ subscription.group.name }}</td>
		<td>{{ subscription.member.name }}</td>
		<td>{{ subscription.comments }}</td>
		
	</tr>
	{% endfor %}
</table>
{% else %}
<p>No subscribers are available.</p>
{% endif %}