<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}My amazing site{% endblock %}</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>
    <div class='heading'>
      <div class='title'>Apsara Chits</div>
      <table cellspacing=1pt border=0 cellpadding=0pt>
      	<tr>
      		<td nowrap="nowrap">&nbsp;<a href='/groups/list' class=menu>Groups</a></td>
      		<td><a href='/customers/list' class=menu>Customers</a>&nbsp;</td>
      		<td width=100% align="right">Hello, {{ user.username }} </td>
      		<td>&nbsp;<a href='/logout' class=menu>Logout</a>&nbsp;</td>
      	</tr>
      </table>
    </div>

    <div class='content'>
    <h3>{% block page_heading %} page_heading is missing{% endblock %}</h3>
   	    {% block content %}Your content goes here{% endblock %}
   	    <p/>
   	    &nbsp;
   	    <p/>
    </div>
    <div class='footer'>Software developed by VEBSnet2 Technology Center. Copyright reserved by SVPM Charitable Trust</div>
</body>
</html>
